@charset "UTF-8";

@import "./_tail_theme.scss";
@import "./_tail_base.scss";
@import "./_tail_components.scss";
@import "./_tail_utilities.scss";
@import "./_animations.scss";

@import "../../../non-common/styles/importToGlobal/_importToGlobal.scss";
