@media print {
 .page-break {
  page-break-before: always;
 }
 body * {
  visibility: hidden;
 }
 .print-section {
  margin: 10px auto;
  padding: 10px;
  page-break-before: always;
 }
 .print-target,
 .print-target * {
  box-shadow: none;
  visibility: visible;
  break-before: avoid;
  break-after: avoid;
  break-inside: avoid;
 }

 .print-target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 }
}

@media print {
 @page {
  margin: 0; /* ページ余白をゼロに設定 */
 }
 body {
  margin: 0; /* コンテンツの余白も調整 */
 }
}
